In [2]:
import csv
f=open('../Data/portfolio.csv')
f_csv=csv.reader(f)
headers=next(f_csv)
headers

['name', 'shares', 'price']

In [3]:
rows=list(f_csv)
from pprint import pprint
pprint(rows)

[['AA', '100', '32.20'],
 ['IBM', '50', '91.10'],
 ['CAT', '150', '83.44'],
 ['MSFT', '200', '51.23'],
 ['GE', '95', '40.37'],
 ['MSFT', '50', '65.10'],
 ['IBM', '100', '70.44']]

In [4]:
for row in rows:
    print(row)

['AA', '100', '32.20']
['IBM', '50', '91.10']
['CAT', '150', '83.44']
['MSFT', '200', '51.23']
['GE', '95', '40.37']
['MSFT', '50', '65.10']
['IBM', '100', '70.44']

In [5]:
for name, shares, price in rows:
    print(name, shares, price)

AA 100 32.20
IBM 50 91.10
CAT 150 83.44
MSFT 200 51.23
GE 95 40.37
MSFT 50 65.10
IBM 100 70.44

In [6]:
for name, _, price in rows:
    print(name, price)

AA 32.20
IBM 91.10
CAT 83.44
MSFT 51.23
GE 40.37
MSFT 65.10
IBM 70.44

In [7]:
from collections import defaultdict
byname= defaultdict(list)
for name, *data in rows:
    byname[name].append(data)

byname['IBM']

[['50', '91.10'], ['100', '70.44']]

In [8]:
byname['CAT']

[['150', '83.44']]

In [9]:
for shares, price in byname['IBM']:
    print(shares, price)

50 91.10
100 70.44

In [10]:
for rowno, row in enumerate(rows):
    print(rowno, row)

0 ['AA', '100', '32.20']
1 ['IBM', '50', '91.10']
2 ['CAT', '150', '83.44']
3 ['MSFT', '200', '51.23']
4 ['GE', '95', '40.37']
5 ['MSFT', '50', '65.10']
6 ['IBM', '100', '70.44']

In [12]:
for rowno, (name, shares, price) in enumerate(rows):
    print(rowno, name, shares, price)

0 AA 100 32.20
1 IBM 50 91.10
2 CAT 150 83.44
3 MSFT 200 51.23
4 GE 95 40.37
5 MSFT 50 65.10
6 IBM 100 70.44

In [13]:
row=rows[0]
row

['AA', '100', '32.20']

In [14]:
for col, val in zip(headers, row):
    print(col, val)

name AA
shares 100
price 32.20

In [15]:
dict(zip(headers,row))

{'name': 'AA', 'shares': '100', 'price': '32.20'}

In [17]:
for row in rows:
    record=dict(zip(headers, row))
    print(record)

{'name': 'AA', 'shares': '100', 'price': '32.20'}
{'name': 'IBM', 'shares': '50', 'price': '91.10'}
{'name': 'CAT', 'shares': '150', 'price': '83.44'}
{'name': 'MSFT', 'shares': '200', 'price': '51.23'}
{'name': 'GE', 'shares': '95', 'price': '40.37'}
{'name': 'MSFT', 'shares': '50', 'price': '65.10'}
{'name': 'IBM', 'shares': '100', 'price': '70.44'}

In [18]:
nums=[1,2,3,4,5]
squares=(x*x for x in nums)
squares

In [19]:
for s in squares:
    print(s)

1
4
9
16
25

In [20]:
for s in squares:
    print(s)

In [21]:
squares=(x*x for x in nums)
next(squares)

1

In [22]:
next(squares)

4

In [23]:
next(squares)

9

In [24]:
next(squares)

16

In [25]:
next(squares)

25

In [26]:
next(squares)

StopIteration:

In [27]:
def squares(nums):
    for x in nums:
        yield x*x

In [28]:
for n in squares(nums):
    print(n)

1
4
9
16
25

In [29]:
from readport import read_portfolio
portfolio= read_portfolio('../Data/portfolio.csv')
sum(s['shares']*s['price'] for s in portfolio)

44671.15

In [30]:
min(s['shares'] for s in portfolio)

50

In [31]:
any(s['name']=='IBM' for s in portfolio)

True

In [32]:
all(s['name']=='IBM' for s in portfolio)

False

In [33]:
sum(s['shares'] for s in portfolio if s['name']=='IBM')

150

In [35]:
s=('GOOG',10,490.10)
','.join(s)

TypeError: sequence item 1: expected str instance, int found

In [36]:
','.join(str(x) for x in s)

'GOOG,10,490.1'

In [37]:
#Memory saving
import tracemalloc
tracemalloc.start()
import readrides
rows=readrides.read_rides_as_dictionary('../Data/ctabus.csv')
rt22=[row for row in rows if row['route']=='22']
max(rt22, key=lambda row: row['rides'])

{'route': '22', 'date': '06/11/2008', 'daytype': 'W', 'rides': 26896}

In [38]:
tracemalloc.get_traced_memory()

(188452203, 188467724)

In [2]:
#RESTART
import tracemalloc
tracemalloc.start()
import csv
f=open('../Data/ctabus.csv')
f_csv=csv.reader(f)
headers=next(f_csv)
rows=(dict(zip(headers, row)) for row in f_csv)
rt22=(row for row in rows if row['route']=='22')
max(rt22, key=lambda row: int(row['rides']))

{'route': '22', 'date': '06/11/2008', 'daytype': 'W', 'rides': '26896'}

In [3]:
tracemalloc.get_traced_memory()

(6077722, 9181841)