In [1]:
from readport import *

In [2]:
portfolio = read_portfolio('../Data/portfolio.csv')
from pprint import pprint
pprint(portfolio)

[{'name': 'AA', 'price': 32.2, 'shares': 100},
 {'name': 'IBM', 'price': 91.1, 'shares': 50},
 {'name': 'CAT', 'price': 83.44, 'shares': 150},
 {'name': 'MSFT', 'price': 51.23, 'shares': 200},
 {'name': 'GE', 'price': 40.37, 'shares': 95},
 {'name': 'MSFT', 'price': 65.1, 'shares': 50},
 {'name': 'IBM', 'price': 70.44, 'shares': 100}]

In [3]:
[s for s in portfolio if s['shares']>100]

[{'name': 'CAT', 'shares': 150, 'price': 83.44},
 {'name': 'MSFT', 'shares': 200, 'price': 51.23}]

In [4]:
sum([s['shares']*s['price'] for s in portfolio])

44671.15

In [5]:
{s['name'] for s in portfolio}

{'AA', 'CAT', 'GE', 'IBM', 'MSFT'}

In [6]:
totals = {s['name']:0 for s in portfolio}
for s in portfolio:
    totals[s['name']]+=s['shares']

totals

{'AA': 100, 'IBM': 150, 'CAT': 150, 'MSFT': 250, 'GE': 95}

In [7]:
from collections import Counter
totals=Counter()
for s in portfolio:
    totals[s['name']]+=s['shares']
    
totals

Counter({'MSFT': 250, 'IBM': 150, 'CAT': 150, 'AA': 100, 'GE': 95})

In [8]:
totals.most_common(2)

[('MSFT', 250), ('IBM', 150)]

In [9]:
more=Counter()
more['IBM']=75
more['AA']=200
more['ACME']=30
more

Counter({'AA': 200, 'IBM': 75, 'ACME': 30})

In [10]:
totals

Counter({'MSFT': 250, 'IBM': 150, 'CAT': 150, 'AA': 100, 'GE': 95})

In [11]:
totals+more

Counter({'AA': 300, 'MSFT': 250, 'IBM': 225, 'CAT': 150, 'GE': 95, 'ACME': 30})

In [12]:
from collections import defaultdict
byname= defaultdict(list)
for s in portfolio:
    byname[s['name']].append(s)

In [13]:
byname['IBM']

[{'name': 'IBM', 'shares': 50, 'price': 91.1},
 {'name': 'IBM', 'shares': 100, 'price': 70.44}]

In [14]:
byname['AA']

[{'name': 'AA', 'shares': 100, 'price': 32.2}]

In [15]:
import readrides
rows=readrides.read_rides_as_dictionary('../Data/ctabus.csv')

In [16]:
rows[:5]

[{'route': '3', 'date': '01/01/2001', 'daytype': 'U', 'rides': 7354},
 {'route': '4', 'date': '01/01/2001', 'daytype': 'U', 'rides': 9288},
 {'route': '6', 'date': '01/01/2001', 'daytype': 'U', 'rides': 6048},
 {'route': '8', 'date': '01/01/2001', 'daytype': 'U', 'rides': 6309},
 {'route': '9', 'date': '01/01/2001', 'daytype': 'U', 'rides': 11207}]

In [17]:
#How many bus routes exist in Chicago?
len({r['route'] for r in rows})

181

In [26]:
#How many people rode the number 22 bus on February 2, 2011? What about any route on any date of your choosing?
def how_many(route, date):
    for r in rows:
        if r['route']==route and r['date']==date:
            print("Rides:",r['rides'])
            return r

In [27]:
how_many(route='6', date='01/01/2001')

Rides: 6048

{'route': '6', 'date': '01/01/2001', 'daytype': 'U', 'rides': 6048}

In [20]:
#What is the total number of rides taken on each bus route?
byroute=Counter()
for r in rows:
    byroute[r['route']]+=r['rides']
byroute

Counter({'79': 133796763,
         '9': 117923787,
         '49': 95915008,
         '4': 95309438,
         '66': 93053461,
         '151': 89524268,
         '22': 89380790,
         '3': 89211071,
         '77': 88484043,
         '53': 86884085,
         '20': 86679321,
         '63': 86609336,
         '8': 84362672,
         '82': 74427970,
         '36': 68780696,
         '72': 66184985,
         '87': 65522213,
         '29': 65048709,
         '81': 59612673,
         '67': 57880229,
         '62': 53418231,
         '60': 52860939,
         '55': 52724358,
         '6': 52654473,
         '147': 52379267,
         '56': 52280435,
         '74': 52111931,
         '80': 51543475,
         '12': 51168351,
         '52': 49851059,
         '85': 49776812,
         '54': 47976060,
         '76': 47452382,
         '47': 44111483,
         '70': 42640960,
         '146': 42089695,
         '71': 41754367,
         '14': 41094492,
         '152': 40352452,
         '94': 39817262,
         '78': 35433146,
         '21': 35216129,
         '50': 34166525,
         '126': 33268789,
         '28': 33033639,
         '75': 32597029,
         '91': 32296856,
         '53A': 31898628,
         '92': 29983360,
         '155': 29450367,
         '156': 28882051,
         '65': 28161390,
         '15': 26149468,
         '34': 25709239,
         '145': 25428790,
         'X49': 24110395,
         '119': 24028072,
         '111': 23663300,
         '35': 22291648,
         '44': 22004694,
         '73': 21639876,
         '95E': 21582109,
         '52A': 21178110,
         '49B': 20997838,
         '7': 20243195,
         '90': 20101625,
         '95W': 19915671,
         '54B': 18198815,
         '84': 16305261,
         '11': 16060502,
         '8A': 15512245,
         '97': 14790421,
         '103': 13649517,
         '59': 13638703,
         '30': 13245844,
         '112': 12701781,
         '1': 12380996,
         '24': 12324872,
         '157': 12044995,
         '57': 11526282,
         '51': 11434393,
         '93': 11126570,
         '135': 10639369,
         'X9': 9727671,
         '18': 8788532,
         '108': 7958095,
         '106': 7660770,
         '125': 7472645,
         '63W': 7344219,
         '86': 7186914,
         '2': 7079897,
         'X80': 7076090,
         'X28': 7073855,
         '136': 6726484,
         '81W': 6662813,
         '26': 6655877,
         '134': 6577698,
         '39': 6410389,
         '201': 6087210,
         '88': 6057455,
         '43': 5996263,
         '68': 5630989,
         '121': 4986698,
         'X54': 4942098,
         '148': 4920748,
         'X55': 4848920,
         '124': 4770015,
         '171': 4744053,
         '62H': 4668296,
         '27': 4588654,
         '172': 4508251,
         '120': 4389068,
         '37': 3965341,
         '54A': 3673818,
         '48': 3669229,
         '1001': 3447912,
         '96': 3343405,
         '85A': 3275028,
         '100': 3146418,
         'J14': 3073437,
         '143': 3047504,
         '129': 2937283,
         '205': 2721818,
         '55N': 2622561,
         '144': 2581625,
         '10': 2486917,
         'X4': 2439238,
         '56A': 2410058,
         '123': 2241706,
         'X3': 2225982,
         '206': 2190873,
         '122': 2075144,
         '33': 2011513,
         'X20': 1980920,
         '49A': 1882331,
         '127': 1684356,
         '17': 1535165,
         '38': 1500952,
         '192': 1387081,
         '90N': 1360211,
         '69': 1308483,
         '169': 1282996,
         '5': 1224396,
         '170': 1001109,
         'R95': 972858,
         '203': 968082,
         '204': 916940,
         '130': 814952,
         'X98': 794267,
         '115': 773755,
         '53AL': 664698,
         '25': 632161,
         'R63': 629465,
         '154': 617888,
         '64': 599089,
         '19': 566505,
         '132': 522313,
         'X21': 496415,
         '173': 443496,
         '55A': 417388,
         'R79': 345494,
         '174': 302560,
         'R22': 279556,
         '202': 276827,
         'R87': 269043,
         '200': 234800,
         '128': 176670,
         '168': 164912,
         'R69': 158023,
         '165': 140129,
         '1002': 108109,
         '69BR': 85938,
         'R55': 69200,
         'X99': 54099,
         'N201': 44750,
         '40': 38447,
         '137': 25617,
         '290S': 7308,
         '290': 4440,
         '95': 2313,
         'R39': 398})

In [21]:
#What five bus routes had the greatest ten-year increase in ridership from 2001 to 2011?
in_2001=Counter()
in_2011=Counter()
import datetime
#row_mod= datetime.datetime.strptime(rows['date'])
for r in rows:
    if r['date'].endswith("2001"):
        in_2001[r['route']]+=r['rides']
    elif r['date'].endswith("2011"):
        in_2011[r['route']]+=r['rides']
        
in_2001

Counter({'79': 10376955,
         '9': 9886058,
         '49': 7986394,
         '151': 7875028,
         '4': 7620323,
         '63': 7067025,
         '3': 6993576,
         '20': 6885826,
         '22': 6862942,
         '53': 6815133,
         '66': 6626565,
         '77': 6473647,
         '8': 6264919,
         '82': 6160880,
         '6': 5698781,
         '29': 5629680,
         '72': 5169224,
         '36': 5097382,
         '81': 4976563,
         '87': 4972997,
         '60': 4789845,
         '56': 4776361,
         '62': 4680824,
         '67': 4506163,
         '55': 4292011,
         '74': 4235960,
         '54': 4137678,
         '76': 4123899,
         '28': 4053620,
         '85': 4050238,
         '80': 3915661,
         '52': 3851865,
         '70': 3434069,
         '12': 3342244,
         '152': 3200144,
         '94': 3127972,
         '146': 2980291,
         '126': 2971856,
         '78': 2852575,
         '147': 2748180,
         '21': 2739904,
         '47': 2720300,
         '53A': 2718172,
         '50': 2598564,
         '34': 2516182,
         '91': 2407617,
         '71': 2382386,
         '145': 2378017,
         '155': 2377654,
         '14': 2339945,
         '92': 2309255,
         '75': 2279296,
         '156': 2196304,
         '65': 2114959,
         '52A': 1995117,
         '95E': 1936791,
         '35': 1909701,
         '44': 1846493,
         '27': 1803973,
         '111': 1799231,
         '1': 1781200,
         '119': 1754259,
         '95W': 1680727,
         '54B': 1676553,
         '49B': 1631734,
         '51': 1590453,
         '73': 1509176,
         'X49': 1484410,
         '7': 1388596,
         '84': 1258974,
         '90': 1235660,
         '59': 1186755,
         '97': 1161310,
         '30': 1142209,
         '103': 1114025,
         '24': 1098875,
         '112': 1084595,
         '8A': 1067236,
         '11': 1057997,
         '57': 886769,
         '157': 832650,
         '108': 756537,
         '135': 747629,
         '63W': 658482,
         '106': 652499,
         '37': 613354,
         '93': 608507,
         '125': 585988,
         '39': 574388,
         '88': 522243,
         '18': 512354,
         '136': 480496,
         '86': 472661,
         '68': 456010,
         '81W': 442074,
         '204': 412783,
         '201': 410732,
         '62H': 395340,
         '43': 384227,
         '203': 384154,
         '121': 369391,
         '54A': 338223,
         '96': 332912,
         '100': 294377,
         '48': 275339,
         '55N': 273142,
         '122': 264030,
         '172': 244083,
         '2': 243029,
         '171': 240334,
         '85A': 232544,
         '120': 217084,
         '169': 216484,
         '123': 206345,
         '129': 188104,
         '33': 178096,
         '56A': 161766,
         '17': 150504,
         '49A': 131729,
         '10': 130281,
         '202': 110987,
         '69': 104144,
         '25': 103757,
         '90N': 103532,
         'X21': 76883,
         '64': 62971,
         '19': 62405,
         '173': 60567,
         '170': 58671,
         '127': 46102,
         '124': 25734,
         '137': 25617,
         '128': 18277,
         '130': 16076,
         '154': 1552,
         '290S': 1085,
         '168': 41})

In [22]:
in_2011

Counter({'79': 10416651,
         '9': 10032506,
         '49': 9169585,
         '66': 8239523,
         '4': 7603945,
         '77': 7474921,
         '22': 7392947,
         '8': 7319868,
         '151': 7194052,
         '3': 7052581,
         '53': 7001213,
         '63': 6692553,
         '20': 6388553,
         '82': 6115943,
         '36': 5838170,
         '72': 5460583,
         '87': 5149272,
         '12': 4954311,
         '147': 4856090,
         '29': 4796752,
         '80': 4782377,
         '67': 4732739,
         '81': 4679131,
         '55': 4415810,
         '52': 4332366,
         '74': 4314557,
         '54': 4178292,
         '6': 3819163,
         '62': 3779859,
         '60': 3749638,
         '76': 3742280,
         '85': 3724072,
         '47': 3715630,
         '14': 3691253,
         '56': 3418273,
         '71': 3384021,
         '146': 3320202,
         '70': 3188048,
         '152': 3132255,
         '21': 3126243,
         '94': 3113772,
         '50': 3111303,
         '78': 2897109,
         '15': 2732209,
         '75': 2672342,
         '65': 2596218,
         '155': 2580425,
         '53A': 2548273,
         '91': 2437246,
         '92': 2383650,
         '126': 2187299,
         '156': 2146276,
         '145': 2118052,
         '34': 2020449,
         '119': 1987214,
         '111': 1970043,
         '73': 1853125,
         '7': 1817591,
         '49B': 1791512,
         '28': 1724233,
         '90': 1680411,
         '11': 1658939,
         '35': 1640031,
         '95E': 1588244,
         '95W': 1573191,
         '44': 1482662,
         '52A': 1433222,
         '157': 1414407,
         '54B': 1346079,
         '84': 1337528,
         '97': 1330315,
         '8A': 1328043,
         '18': 1167860,
         '59': 1110359,
         'X28': 1087225,
         '30': 1077222,
         '103': 1065688,
         '135': 976206,
         '93': 948460,
         '57': 917853,
         '24': 886444,
         '112': 882345,
         '134': 771847,
         '26': 769083,
         '1': 734910,
         '2': 706346,
         '86': 698847,
         '51': 690503,
         '43': 659344,
         '106': 631631,
         '201': 613735,
         '148': 598968,
         '39': 573545,
         '136': 569030,
         '108': 536041,
         '172': 527904,
         '81W': 507605,
         '63W': 506465,
         '125': 481523,
         '124': 408028,
         '68': 395103,
         '88': 394558,
         '62H': 388722,
         '143': 367421,
         '171': 348523,
         '48': 314382,
         '205': 283134,
         '144': 277345,
         '121': 275088,
         '129': 273780,
         '54A': 270527,
         '85A': 265528,
         '10': 261400,
         '96': 238211,
         '100': 237112,
         '192': 220198,
         '5': 203899,
         '56A': 199284,
         '120': 195483,
         '206': 190939,
         '55N': 165103,
         '33': 160702,
         '49A': 153934,
         '130': 143414,
         '122': 126029,
         '17': 125534,
         '123': 124971,
         '69': 123278,
         '90N': 121222,
         '169': 92416,
         '132': 83301,
         '170': 75780,
         '55A': 63133,
         '64': 46198,
         '154': 44734,
         'X98': 37518,
         '19': 26435,
         '165': 17774,
         '1001': 14364,
         'N201': 13263,
         '128': 12536})

In [23]:
diff=in_2011-in_2001
#from collections import OrderedDict
#diff_sorted=OrderedDict(sorted(diff.items(),reverse=True, key=lambda x:x[1]))
diff.most_common(5)

[('15', 2732209),
 ('147', 2107910),
 ('66', 1612958),
 ('12', 1612067),
 ('14', 1351308)]